@using MobilePhones.Data;
@model List<Phone>
@{
    List<Brand> brands = ViewBag.Brands;
    string searchTermPhone = ViewBag.SearchTermPhone;
    int? searchTermBrand = ViewBag.SearchTermBrand;
    int? searchTermMinPrice = ViewBag.SearchTermMinPrice;
    int? searchTermMaxPrice = ViewBag.SearchTermMaxPrice;
    int activePage = ViewBag.ActivePage;
    double pageCount = ViewBag.PageCount;
}

<div class="row">
    <div class="col-md-2">

        <form method="get" action="@Url.Action("Index", "Phone")">
            <div class="form-group">
                <label>Phone</label>
                <input type="text" name="searchTermPhone" placeholder="Phone" class="form-control" value="@searchTermPhone"/>
            </div>
            <div class="form-group">
                <label>Brand</label>
                @Html.DropDownList("searchTermBrand", new SelectList(brands, "Id", "Name"), "All", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="text" name="searchTermMinPrice" placeholder="$ Min" class="form-control" value="@searchTermMinPrice"/>
                <br />
                <input type="text" name="searchTermMaxPrice" placeholder="$ Max" class="form-control" value="@searchTermMaxPrice"/>
            </div>
            <button type="submit" class="btn btn-success">Search</button>
        </form>


    </div>
    <div class="col-md-10">
        <div class="row">
            @foreach (var phone in Model)
            {
                <div class="col-md-4" style="margin-bottom:15px;">
                    <a href="@Url.Action("Specs", "Phone", new { id = phone.Id})">
                        <div>
                            <img class="center-block" src="~/Files/@phone.Photos.First().FileName" style="height: 200px;" />
                        </div>
                        <br />
                    </a>
                    <a href="@Url.Action("Specs", "Phone", new { id = phone.Id})" class="btn center-block">@phone.Name</a>
                    <button class="btn btn-success center-block">$@phone.Price.ToString("0.00")</button>
                </div>
            }
        </div>

        @if (pageCount > 1)
        {
            <nav>
                <ul class="pagination">
                    @if (activePage == 1)
                    {
                        <li class="disabled">
                            <a>
                                <span>&laquo;</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Index", "Phone", new { activePage = activePage-1, searchTermPhone, searchTermBrand ,searchTermMinPrice, searchTermMaxPrice})">
                                <span>&laquo;</span>
                            </a>
                        </li>
                    }
                    @for (int i = 1; i <= pageCount; i++)
                    {
                        <li class="@(activePage == i ? "active" : "")">
                            <a href="@Url.Action("Index", "Phone", new { activePage= i , searchTermPhone, searchTermBrand, searchTermMinPrice, searchTermMaxPrice})">@i</a>
                        </li>
                    }
                    @if (activePage == pageCount)
                    {
                        <li class="disabled">
                            <a>
                                <span>&raquo;</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Index", "Phone", new { activePage = activePage+1, searchTermPhone, searchTermBrand, searchTermMinPrice, searchTermMaxPrice})">
                                <span>&raquo;</span>
                            </a>
                        </li>
                    }                   
                </ul>
            </nav>
        }        
    </div>
</div>

