@using MobilePhones.Data;
@model Phone

<div class="row">
    <div class="col-md-5 ">
        <div class="row">
            <div class="col-md-3">
                @foreach (var photo in Model.Photos.Skip(1))
                {
                    <img src="~/Files/@photo.FileName" class="img-responsive" style="margin-bottom: 10px;" />
                }
            </div>
            <div class="col-md-9">
                <img src="~/Files/@Model.Photos.First().FileName" class="img-responsive" style="margin-bottom: 15px;" />
                <div style="margin-bottom: 20px;">
                    @if (!string.IsNullOrEmpty(@Model.Video))
                    {
                        <iframe class="center-block" width="560" height="315" src="@("https://www.youtube.com/embed/"+ @Model.Video)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <h1><strong>@Model.Name</strong></h1>
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>Brand</strong></td>
                    <td>@Model.Brand.Name</td>
                </tr>
                <tr>
                    <td><strong>Dimensions</strong></td>
                    <td>@Model.Dimensions</td>
                </tr>
                <tr>
                    <td><strong>Weight</strong></td>
                    <td>@Model.Weight g</td>
                </tr>
                <tr>
                    <td><strong>ScreenSize</strong></td>
                    <td>@Model.ScreenSize ''</td>
                </tr>
                <tr>
                    <td><strong>Resolution</strong></td>
                    <td>@Model.Resolution</td>
                </tr>
                <tr>
                    <td><strong>Processor</strong></td>
                    <td>@Model.Processor</td>
                </tr>
                <tr>
                    <td><strong>Memory</strong></td>
                    <td>@Model.Memory</td>
                </tr>
                <tr>
                    <td><strong>OS</strong></td>
                    <td>@Model.OS</td>
                </tr>
                <tr>
                    <td><strong>Price</strong></td>
                    <td>$@Model.Price.ToString("0.00")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
